
<style type="text/css">

  .first-confirmation-container {
    display: flex; 
    height: 707px; 
    width: 884px; 
    margin: auto;
  }

  .first-confirmation-container .first-column {
    display: flex; 
    flex-direction: column; 
    width: 504px; 
    justify-content: center;
  }

  .first-confirmation-container .first-column .title {
    height: 37px;
    width: 504px;
    color: #003087;
    font-family: Helvetica, Arial;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 37px;
  }

  .first-confirmation-container .first-column .text {
    height: 75px;
    width: 504px;
    color: #505050;
    font-family: Helvetica,Arial;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
  }

  .first-confirmation-container .first-column .brand {
    height: 68px; 
    width: 130px;
  }

  .first-confirmation-container .first-column .activate-account-button {
    height: 60px; 
    width: 254px; 
  }

  .first-confirmation-container .second-column .fivvy-image {
    height: 707px; 
    width: 350px;
  }


  /* second landing styles*/

  .second-confirmation-container {
    display: flex; 
    width: 986px; 
    margin: auto;
  }

  .second-confirmation-container .first-column {
    display: flex; 
    flex-direction: column; 
    width: 504px; 
    justify-content: center;
  }

  .second-confirmation-container .first-column .title {
    width: 504px;
    color: #003087;
    font-family: Helvetica, Arial;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 37px;
  }
  
  .second-confirmation-container .first-column .invisible-redirect-button {
    height: 60px; 
    width: 254px; 
  }

  .second-confirmation-container .first-column .redirect-button {
    display: none;
  }

  .second-confirmation-container .second-column .fivvy-image {
    height:707px; 
    width: 350px;
  }

  .footer-container {
    height: 60px; 
  }

  .custom-fivvy-footer {
    color: #505050;
    font-family: Arial, Helvetica;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 19px;
    text-align: center;
    vertical-align: middle;
  }




  /*spinner*/

  .fijo{
    position:absolute;
    height:40px;
    width:40px;
    top: 100px;
    left: 100px;
    transform: translate(-50%, -50%)
  }
  
  .center{
    margin: auto;
    margin-top: 10%;
    display:block;
    width: 200px;
    position: relative;
  }
  
  .clock {
    position: relative;
    border: 10px solid #ff0266;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  
  .clock .hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    transform-origin: bottom;
    border: 3px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .clock .hand.hour {
    width: 8px;
    height: 35%;
    animation: rotate 5s linear infinite;
    background-color: #ffde03;
  }
  
  .clock .hand.minute {
    width: 6px;
    height: 40%;
    z-index: 10;
    animation: rotate 2s linear infinite;
    background-color: white;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate2x {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(720deg);
    }
  }
  
  .circle-spinner {
    position: relative;
    width: 200px;
    height: 200px;
    border: 10px solid transparent;
   border-top: 10px solid #009cdf;
    border-right: 10px solid #009cdf;
    border-radius: 50%;
    animation: rotate 2s ease-in-out infinite;
  }
  .circle-spinner:before,
  .circle-spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-spinner.spin::before {
    width: 150px;
    height: 150px;
    border: 10px solid transparent;
     border-top: 10px solid #1AD85F;
    border-right: 10px solid #1AD85F;
   
    top: 15px;
    left: 15px;
    animation: rotate 3s ease-in-out infinite;
  }
  .circle-spinner.spin::after {
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-top: 10px solid #ff8600;
    border-right: 10px solid #ff8600;
    top: 40px;
    left: 40px;
    animation: rotate2x 1.5s ease-in-out infinite;
  }



  @media(max-width: 600px) {

    /*First landing styles*/

    .info-root-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .first-confirmation-container {
      height: 100%;
      width: 80%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .first-confirmation-container .first-column {
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 15%;
    }

    .first-confirmation-container .first-column .title {
      height: auto;
      width: auto;
      margin-bottom: 2.5%;
      font-size: 25px;
      text-align: center;
    }

    .first-confirmation-container .first-column .text {
      height: auto;
      width: auto;
      text-align: center;
      font-size: 15px;
    }

    .footer-container {
      display: inline;
    }

    .footer-container .custom-fivvy-footer {
      text-align: center;
      vertical-align: middle;
    }

    /*second landing styles*/

    .second-confirmation-container {
      height: 100%;
      width: 80%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .second-confirmation-container .first-column {
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .second-confirmation-container .first-column .title {
      height: auto;
      width: auto;
      text-align: center;
      font-size: 25px;
    }

  }

</style>