<style type="text/css">


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.circle-one {
  position: absolute;
  right: -3.93%;
  top: -27.64%;
  bottom: 76.6%;
  border-radius: 200px;
  width:400px;
  height:400px;

  border: 2.60004px solid #009CDF;
  box-sizing: border-box;
}

.circle-two {
  position: absolute;
  right: -14.79%;
  top: 10.64%;
  bottom: 38.32%;
  border-radius: 200px;
  width:400px;
  height:400px;

  border: 2.60004px solid #009CDF;
  box-sizing: border-box;
}

.confirmation-content-container {
  margin: 0% 15%;
  display: flex;
  width: 370.27px;
  height: 474.21px;
  left: 318.41px;
  top: 259.35px;
}

.password-confirmation-container {
  margin-top: 30%;
}

.password-confirmation-container .title {
  margin-bottom: 2%;

  width: 369.19px;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32.48px;
  line-height: 40px;
  letter-spacing: -0.541333px;

  color: #003087;
}

.password-confirmation-container .title-line {
  margin-bottom: 5%;
  width: 54.13px;
  height: 5.41px;

  background: #009CDF;
  border-radius: 2.70667px;
}

.password-confirmation-container .text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #505050;
  margin-bottom: 12%;
}

.password-confirmation-container a:hover {
  cursor: pointer;
}




/*Responsive*/

@media(max-width: 1100px) {

  .circle-two, .circle-one {
    display: none;
  }
}

@media(max-width: 900px) {

}

@media(max-width: 750px) {

  .root-container {
    margin: 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .confirmation-content-container {
    margin: 0;
    width: 100%;
  }

  .confirmation-content-container .password-confirmation-container {
    width: 100%;
  }

  .password-confirmation-container a {
    width: 100%;
  }

  .password-confirmation-container a img {
    width: 100%;
  }

  .confirmation-content-container .image-container {
    display: none;
  }
}

@media(max-width: 600px) {

}


</style>