<style type="text/css">


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.circle-one {
  position: absolute;
  right: -3.93%;
  top: -27.64%;
  bottom: 76.6%;
  border-radius: 200px;
  width:400px;
  height:400px;

  border: 2.60004px solid #009CDF;
  box-sizing: border-box;
}

.circle-two {
  position: absolute;
  right: -14.79%;
  top: 10.64%;
  bottom: 38.32%;
  border-radius: 200px;
  width:400px;
  height:400px;

  border: 2.60004px solid #009CDF;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  margin: 7% 20%;
  width: 370.27px;
  height: 474.21px;
  left: 318.41px;
  top: 259.35px;
}

.update-password-container {
  margin-right: 10%;
  padding-top: 10%;
}

.update-password-container .title {
  margin-bottom: 2%;

  width: 369.19px;
  height: 40.06px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32.48px;
  line-height: 40px;
  letter-spacing: -0.541333px;

  color: #003087;
}

.update-password-container .title-line {
  margin-bottom: 10%;
  width: 54.13px;
  height: 5.41px;

  background: #009CDF;
  border-radius: 2.70667px;
}

.update-password-container label {
  margin-bottom: 2%;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12.992px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #003087;
}

.update-password-container .input-container {
  display: flex;
  margin-bottom: 4%;
  border-bottom: 1px solid #CDCDCD;
}

.update-password-container .input-container img:hover {
  cursor: pointer;
}

.update-password-container input {
  width: 98%;
  padding: 5px;

  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #505050;
}

.update-password-container .requirements-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

.update-password-container .requirements-container div {
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17.3227px;
  line-height: 20px;
  letter-spacing: -0.541333px;

  color: #505050;
}

.update-password-container .error-message {
  padding: 1.5% 3%;
  width: 100%;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 0px 0px 10.8267px 10.8267px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17.3227px;
  line-height: 20px;
  letter-spacing: -0.541333px;
  color: #E80303;
  margin-top: 10%;
}

.update-password-container .first-column-container, .update-password-container .second-column-container {
  display: flex;
  flex-direction: column;
}

.update-password-container .submit-button {
  width: 369px;
  height: 65px;
  background-color: #009CDF;
  border: none;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24.9013px;
  line-height: 29px;
  color: white;
}

.update-password-container .submit-button:hover {
  cursor: pointer;
}



/*Responsive*/

@media(max-width: 1100px) {

  .circle-two {
    display: none;
  }
}

@media(max-width: 900px) {
  .content-container .image-container {
    display: none;
  }
  .circle-one {
    right: -25.93%;
  }

  .root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-container .update-password-container {
    margin: 0%;
  }
}

@media(max-width: 750px) {

  .content-container {
    width: 90%;
  }

  .update-password-container {
    width: 100%;
  }

  .update-password-container .title {
    width: auto;
    height: auto;
    text-align: left;
  }

  .update-password-container .submit-button {
    width: 100%;
  }

  .circle-one {
    right: -45.93%;
  }
}

@media(max-width: 600px) {

  .circle-one {
    right: -65.93%;
  }

  .content-container {
    margin: 40% 3.5%;
  }
}


</style>